
  <div class="container">
    <div class="container mb-5 text-center">
      <h1>Category</h1>
    </div>
    <div class="container mb-5 centered">
      <div class="row">
        <form class="d-flex mb-5" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" [(ngModel)]="searchValue" name="search">
          <select class="form-select-sm" [(ngModel)]="searchBy" name="search-filter">
            <option value="">All</option>
            <option value="type">Tipo</option>
            <option value="name">Nome</option>
          </select>
        </form>

        <div id="meuContainer" class="container mt-2">
          <div class="row g-5 my-2 container-fluid">
            <div *ngFor="let category of categories | searchFilter: searchValue: searchBy" class="col-3 h-25">
                <div class="card m-0 shadow cards" (click)="goItem(category)">
                  <div class="ratio ratio-4x3">
                    <img src="/assets/img/category/{{category.image}}" width="50" height="100" class="card-img-top">
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{category.name}}</h5>
                    <p class="categoria">{{ transformType(category) }}</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
