<div class="container">
  <div class="card">
    <div class="card-header d-flex justify-content-between cardBar">
      <div>
        <h5 >Numero do pedido</h5>
      </div>
    </div>
  </div>
  <br>
  <div class="d-flex justify-content-between shadow  mb-4">
    <div class="col-md-5">
      <div class="card mb-3" *ngFor="let order of orders">
        <div class="d-flex justify-content-between p-3 shadow card-order-detail">
          <div class="card-body align-content-center">
            <img class="order-icon" src="../../../assets/img/order-component/clock-regular.svg" alt="">
          </div>
          <div class="card-body align-content-center">
            <p class="card-text"><b>{{ order.orderItems }}</b></p>
            <p> R$: </p>
          </div>
        </div>
        <div class="card-header d-flex justify-content-between">
          <div>
            Quantidade:
          </div>
          <div>
            R$
          </div>
        </div>
      </div>
    </div>
    <div class=" col-6 pb-3 m-4">
      <div class="card text-center h-100">
        <div class="card-header">
          Valor do pedido
        </div>
        <div class="card-body text-end align-content-center">
          <h5 class="card-title my-4">Resumo Pagamento</h5>
          <p class="card-text">Total dos itens <span> R$ </span></p>
          <p class="card-text">Desconto <span> R$ </span></p>
          <p class="card-text">Total do pedido <span><b> R$ </b></span></p>
          <a href="#" class="btn me-2 text-white my-4" style="background-color: #7fad39;" [routerLink]="['/home']">Voltar a loja</a>
          <a href="#" class="btn btn-secondary" [routerLink]="['/order']">Voltar a lista</a>
        </div>
      </div>
    </div>
  </div>
</div>
