<div class="container">
  <div class="row ">

    <img src="../../../../../assets/img/service/cafeteria/bread-4077812_1280.jpg" class="" alt="...">

    <img src="../../../../../assets/img/service/cafeteria/cake-2001781_1280.jpg" class="" alt="...">

    <img src="../../../../../assets/img/service/cafeteria/coffee-1569682_1280.jpg" class="" alt="...">

    <img src="../../../../../assets/img/service/cafeteria/cupcake-3723832_1280.jpg" class="" alt="...">

    <!-- <img src="../../../../../assets/img/service/banner/pancakes-5989136_1280.jpg" class="" alt="..."> -->
    <div class="descrição">
      <h3>Cafeteria</h3>
      <p>
        Na nossa cafeteria temos diversas opções para o seu lanche, deliciosos pães, bolos, tortas, cupcakes, e não poderia faltar aquele café <br/>maravilhoso, não é mesmo? <br/>Dá uma passadinha em uma de nossas lojas físicas para conferir e se deliciar!
      </p>
    </div>


    <img src="../../../../../assets/img/service/cestas/Cesta1.png" class="" alt="">
    <img src="../../../../../assets/img/service/cestas/Cesta2.png" class="" alt="">
    <img src="../../../../../assets/img/service/cestas/cesta3.jpg" class="" alt="">
    <img src="../../../../../assets/img/service/cestas/cesta4.jpg" class="" alt="">


    <div class="descrição">
      <h3>Cestas de Café da Manhã</h3>
      <p>
        Temos diversas opções de cestas de café da manhã prontas para presentear aquela pessoa especial, e temos também a opção de <br/>montá-la na hora podendo assim personaliza-las de acordo com o gosto do presenteado.
        <br/>Dá uma passadinha em uma de nossas lojas físicas para conferir essa novidade!
      </p>
    </div>

    <img src="../../../../../assets/img/service/marmitas/marmita1.webp" class="" alt="">
    <img src="../../../../../assets/img/service/marmitas/marmita2.jpg" class="" alt="">
    <img src="../../../../../assets/img/service/marmitas/marmita3.jpg" class="" alt="">
    <img src="../../../../../assets/img/service/marmitas/marmita4.jpg" class="" alt="">


    <div class="descrição">
      <h3>Marmiteria Fitness</h3>
      <p>
        Contamos com o serviço de marmiteria para aquelas pessoas que tem a rotina muito acelerada, mas não abrem mão de uma alimentação<br/> saudável.
        Nossas marmitas são preparadas por nutricionistas profissionais. Contando com um delicioso cardápio variado, inclusive para <br/>você que tem seletividade alimentar.
        <br/>Dá uma passadinha em uma de nossas lojas físicas para conferir e se deliciar!
      </p>
    </div>

    <img src="../../../../../assets/img/service/delivery.jpeg" class="" alt="">


    <div class="descrição">
      <h3>Delivery Programado</h3>
      <p>
        Uma novidade na nossa rede é o delivery programado, onde o cliente pode agendar um horário prévio para a entrega de suas compras.
        <br/>Pensando na comodidade daqueles clientes que trabalham fora, e não tem ninguém em casa para receber as suas entregas, funcionando 24 horas de segunda a sexta.
        <br/>Entre em contato e agende a sua entrega!
      </p>
    </div>

  </div>
</div>
