
form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 2px;
  


  span {
    font-size: 12px;
    text-decoration: underline;
    color: #7FAD39;
    text-align:end;
    cursor: pointer;
    height: 0.1px;

  }
}
