
<app-navbar></app-navbar>

<router-outlet></router-outlet>

<!-- Footer Section Begin -->
<footer class="footer spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="footer__sobre">
                  <div class="footer__sobre__logo">
                      <a href="./index.html"><img src="./assets/img/logo.png" alt=""></a>
                  </div>
                  <ul>
                      <li>Endereço: Av. Brasil, 1234 - Brasil</li>
                      <li>Telefone: +55 11.3939.1234</li>
                      <li>Email: exemplo.com.br</li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
              <div class="footer__widget">
                  <h6>Links Úteis</h6>
                  <ul>
                      <li><a href="#">Sobre Nós</a></li>
                      <li><a href="#">Sobre Nossa Loja</a></li>
                      <li><a href="#">Compras Seguras</a></li>
                      <li><a href="#">Informações de Entrega</a></li>
                      <li><a href="#">Política de Privacidade</a></li>
                      <li><a href="#">Nosso Mapa do Site</a></li>
                  </ul>
                  <ul>
                      <li><a href="#">Quem Somos</a></li>
                      <li><a href="#">Nossos Serviços</a></li>
                      <li><a href="#">Projetos</a></li>
                      <li><a href="#">Contato</a></li>
                      <li><a href="#">Inovação</a></li>
                      <li><a href="#">Depoimentos</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
              <div class="footer__widget">
                  <h6>Junte-se à Nossa Newsletter Agora</h6>
                  <p>Receba atualizações por e-mail sobre nossa loja mais recente e ofertas especiais.</p>
                  <form action="#">
                      <input type="text" placeholder="Digite seu e-mail">
                      <button type="submit" class="site-btn">Inscrever-se</button>
                  </form>
                  <div class="footer__widget__social">
                      <a href="#"><i class="fa-brands fa-facebook fa-beat-fade"></i></a>
                      <a href="#"><i class="fa-brands fa-instagram fa-beat-fade"></i></a>
                      <a href="#"><i class="fa-brands fa-twitter fa-beat-fade"></i></a>
                      <a href="#"><i class="fa-brands fa-pinterest fa-beat-fade"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="footer__copyright">
                  <div class="footer__copyright__texto">
                      <p><!-- Link de volta para Colorlib não pode ser removido. O modelo é licenciado sob CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados | Este modelo foi feito com <i class="fa fa-heart" aria-hidden="true"></i> por <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          <!-- Link de volta para Colorlib não pode ser removido. O modelo é licenciado sob CC BY 3.0. --></p>
                  </div>
                  <div class="footer__copyright__pagamento">
                      <img src="./assets/img/payment-item.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
