.container img {
  max-width: 100%;
}

.container-shopping {
  max-width: 300px;
  align-items: center;
}

.text{
  text-align: center;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #487505;
}

.text-service{
  text-align: center;
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #487505;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.price{
  text-decoration:line-through;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: rgb(201, 9, 9);
}

.central-image{
  background-size: 140px;
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
  position: relative;
  font-weight: bold;
  color: white;
}

.central-image h2{
  font-weight: bold;
}

.btn btn-outline-success {
  background-color: #ffffff;
  color: #7FAD39;
  width: 300px;
  transition: all 0.3s linear;
  transform: scale(1.1);

}

.large-input{
  text-align: center;
  font-size: 1.2rem;
}

#btn{
  text-align: center;
  justify-content: center;
}

#bannerService{
  cursor: pointer;
}
#btnPrice{
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

#btnQuantity{
  width: 30px;
  text-align: left;
  margin: 0;

}
