<div class="container mt-2">
  <div class="row g-4 my-2 mt-2">
    <div class="col-md-8 mx-auto">
      <div class="card m-2 shadow" >

        <div class="row" id="container">
          <div class="col-md-5">
            <img src="../../../../../assets/img/service/{{service.image}}" class="card-img-top" alt="">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h2 class="card-title">{{service.name}}</h2>
              <h3 class="description">{{service.description}}</h3>
            </div>
          </div>
          <div class="col-md-2">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
