<div class="container shadow p-0">
  <!-- <div class="row"> -->
    <table class="table table-sm table-condensed table-hover">
      <thead>
        <tr >
          <th class="tableTitle">Pedido</th>
          <!-- <th class="tableTitle">Valor</th> -->
          <th class="tableTitle">Status</th>
          <th class="tableTitle col-md-5">Mensagem</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of ordersReversed; let i = index" class="cursor-pointer" [routerLink]="'/order-detail/' + order.id">
          <td>
            <div>
              OGANI-3456543-0000{{ valor - i}}
            </div>
            <div class="text-order">
              {{ order.created | date:'dd/MM/yyyy' }}
            </div>
          </td>
          <!-- <td>{{ order.orderTotal | currency }}</td> -->
          <td>
            <div>
              <img src="../../../assets/img/order-component/truck-solid.svg" alt="Icone entrega" class="order-icon">
              <span class="text-order"> {{ order.orderStatus }}</span>
            </div>
            <div>
              <a href="https://rastreamento.correios.com.br/app/index.php" class="text-order">Acompanhar entrega</a>
            </div>
          </td>
          <td class="text-order col-md-4">
            <ng-container *ngIf="order.orderStatus === 'Aguardando análise'">
              Aguardando análise de crédito, seu pedido será enviado até 1 dia útil após a confirmação.
            </ng-container>
            <ng-container *ngIf="order.orderStatus === 'Processado'">
              Seu pedido está aguardando preparação, obrigado pela confiança.
            </ng-container>
            <ng-container *ngIf="order.orderStatus === 'Finalizado'">
              Produto foi entregue pela transportadora ou finalizado por um de nossos profissionais de serviço.
            </ng-container>
          </td>
        </tr>
      </tbody>

    </table>
  <!-- </div> -->

  <!-- <div id="modalDel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <h4>Confirmação</h4>
                </div>
                <div class="modal-body">
                    <p>Confirma exclusão do(a) Cliente?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                class="btn btn-success" (click)="deleteClient()" >Confirmar</button>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div> -->
</div>

