<div class="container">
  <div class="row">

    <table class="table table-sm table-condensed table-hover">
      <thead>
        <tr>
          <th>Pedido</th>
          <th>Valor</th>
          <th>Status</th>
          <th>Mensagem</th>
        </tr>
      </thead>
      <tbody class="cursor-pointer" routerLink="/order-detail">
        <tr>
          <!-- <tr *ngFor="let order of orders"></tr> -->
          <td>
            <div>
              OGAMI-3456543-00001
            </div>
            <div class="text-order">
              08/01/2024
            </div>
          </td>
          <td>R$ 70,00</td>
          <td>
            <div>
              <img src="../../../assets/img/order-component/truck-solid.svg" alt="Icone entrega"
                class="order-icon"><span class="text-order"> Produto enviado</span>
            </div>
            <div>
              <a href="https://rastreamento.correios.com.br/app/index.php" class="text-order">Acompanhar entrega</a>
            </div>
          </td>
          <td class="text-order">Seu pedido foi enviado! Obrigado pela confiança</td>
        </tr>
        <tr>
          <td>
            <div>
              OGAMI-3456543-00002
            </div>
            <div class="text-order">
              08/01/2024
            </div>
          </td>
          <td>R$ 1070,00</td>
          <td>
            <div>
              <img src="../../../assets/img/order-component/truck-solid.svg" alt="Icone entrega"
                class="order-icon"><span class="text-order"> Produto enviado</span>
            </div>
            <div>
              <a href="https://rastreamento.correios.com.br/app/index.php" class="text-order">Acompanhar entrega</a>
            </div>
          </td>
          <td class="text-order">Seu pedido foi enviado! Obrigado pela confiança</td>
        </tr>
        <tr>
          <td>
            <div>
              OGAMI-3456543-00003
            </div>
            <div class="text-order">
              08/01/2024
            </div>
          </td>
          <td>R$ 170,00</td>
          <td>
            <div>
              <img src="../../../assets/img/order-component/truck-solid.svg" alt="Icone entrega"
                class="order-icon"><span class="text-order"> Produto enviado</span>
            </div>
            <div>
              <a href="https://rastreamento.correios.com.br/app/index.php" class="text-order">Acompanhar entrega</a>
            </div>
          </td>
          <td class="text-order">Seu pedido foi enviado! Obrigado pela confiança</td>
        </tr>
        <tr>
          <td>
            <div>
              OGAMI-3456543-00004
            </div>
            <div class="text-order">
              08/01/2024
            </div>
          </td>
          <td>R$ 500,00</td>
          <td>
            <div>
              <img src="../../../assets/img/order-component/truck-solid.svg" alt="Icone entrega"
                class="order-icon"><span class="text-order"> Produto enviado</span>
            </div>
            <div>
              <a href="https://rastreamento.correios.com.br/app/index.php" class="text-order">Acompanhar entrega</a>
            </div>
          </td>
          <td class="text-order">Seu pedido foi enviado! Obrigado pela confiança</td>
        </tr>

      </tbody>
    </table>
  </div>

  <!-- <div id="modalDel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <h4>Confirmação</h4>
                </div>
                <div class="modal-body">
                    <p>Confirma exclusão do(a) Cliente?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                class="btn btn-success" (click)="deleteClient()" >Confirmar</button>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal"
                class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div> -->
</div>

