@import 'ngx-toastr/toastr';

html,
body {
	height: 100%;
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Cairo", sans-serif;
	color: #6f6f6f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 50px;
	text-align: center;
}

.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #7fad39;
	content: "";
	margin: 0 auto;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: #7fad39;
	letter-spacing: 2px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #7fad39;
	border: none;
}

.section-title {
	margin-bottom: 50px;
	text-align: center;
}

.section-title h2 {
	color: #1c1c1c;
	font-weight: 700;
	position: relative;
}

.section-title h2:after {
	position: absolute;
	left: 0;
	bottom: -15px;
	right: 0;
	height: 4px;
	width: 80px;
	background: #7fad39;
	content: "";
	margin: 0 auto;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	padding: 10px 28px 10px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	background: #7fad39;
	letter-spacing: 2px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	font-weight: 800;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px 30px 12px;
	background: #7fad39;
	border: none;
}

.header__top {
	background: #f5f5f5;
}

.header__top__left {
	padding: 10px 0 13px;
}

.header__top__left ul li {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__top__left ul li:after {
	position: absolute;
	right: -25px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__left ul li:last-child {
	margin-right: 0;
}

.header__top__left ul li:last-child:after {
	display: none;
}

.header__top__left ul li i {
	color: #252525;
	margin-right: 5px;
}

.header__top__right {
	text-align: right;
	padding: 10px 0 13px;
}

.header__top__right__social {
	position: relative;
	display: inline-block;
	margin-right: 35px;
}

.header__top__right__social:after {
	position: absolute;
	right: -20px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__social a {
	font-size: 14px;
	display: inline-block;
	color: #1c1c1c;
	margin-right: 20px;
}

.header__top__right__social a:last-child {
	margin-right: 0;
}

.header__top__right__language {
	position: relative;
	display: inline-block;
	margin-right: 40px;
	cursor: pointer;
}

.header__top__right__language:hover ul {
	top: 23px;
	opacity: 1;
	visibility: visible;
}

.header__top__right__language:after {
	position: absolute;
	right: -21px;
	top: 1px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.header__top__right__language img {
	margin-right: 6px;
}

.header__top__right__language div {
	font-size: 14px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 4px;
}

.header__top__right__language span {
	font-size: 14px;
	color: #1c1c1c;
	position: relative;
	top: 2px;
}

.header__top__right__language ul {
	background: #222222;
	width: 100px;
	text-align: left;
	padding: 5px 0;
	position: absolute;
	left: 0;
	top: 43px;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__right__language ul li {
	list-style: none;
}

.header__top__right__language ul li a {
	font-size: 14px;
	color: #ffffff;
	padding: 5px 10px;
}

.header__top__right__auth {
	display: inline-block;

  span{
   font-weight: bold;
   font-size: 13px;
   color: #1c1c1c;
  }
}

.header__top__right__auth a {
  margin-left: 10px;
	display: inline-block;
	font-size: 13px;
	color: #1c1c1c;
  cursor: pointer;
}

.header__top__right__auth a i {
	margin-right: 4px;
  color: #7FAD39;
}

.header__logo {
	padding: 15px 0;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	padding: 24px 0;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.header__menu ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #222222;
	width: 180px;
	z-index: 9;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
	margin-right: 0;
	display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
	color: #7fad39;
}

.header__menu ul li .header__menu__dropdown li a {
	text-transform: capitalize;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 15px;
}

.header__menu ul li.active a {
	color: #7fad39;
}

.header__menu ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover>a {
	color: #7fad39;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #252525;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

.header__cart {
	text-align: right;
	padding: 24px 0;
}

.header__cart ul {
	display: inline-block;
	margin-right: 25px;
}

.header__cart ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.header__cart ul li:last-child {
	margin-right: 0;
}

.header__cart ul li a {
	position: relative;
}

.header__cart ul li a i {
	font-size: 18px;
	color: #1c1c1c;
}

.header__cart ul li a span {
	height: 13px;
	width: 13px;
	background: #7fad39;
	font-size: 10px;
	color: #ffffff;
	line-height: 13px;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -12px;
}

.header__cart .header__cart__price {
	font-size: 14px;
	color: #6f6f6f;
	display: inline-block;
}

.header__cart .header__cart__price span {
	color: #252525;
	font-weight: 700;
}

.humberger__menu__wrapper {
	display: none;
}

.humberger__open {
	display: none;
}

.hero {
	padding-bottom: 50px;
}

.hero.hero-normal {
	padding-bottom: 30px;
}

.hero.hero-normal .hero__categories {
	position: relative;
}

.hero.hero-normal .hero__categories ul {
	display: none;
	position: absolute;
	left: 0;
	top: 46px;
	width: 100%;
	z-index: 9;
	background: #ffffff;
}

.hero.hero-normal .hero__search {
	margin-bottom: 0;
}

.hero__categories__all {
	background: #7fad39;
	position: relative;
	padding: 4px 0px 4px 0px;
	cursor: pointer;
}

.hero__categories__all i {
	font-size: 16px;
	color: #ffffff;
	margin-right: 10px;
}

.hero__categories__all span {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

.hero__categories__all:after {
	position: absolute;
	right: 18px;
	top: 9px;
	/* content: "3"; */
	font-family: "ElegantIcons";
	font-size: 18px;
	color: #ffffff;
}

.hero__categories ul {
	border: 1px solid #ebebeb;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 12px;
}

.hero__categories ul li {
	list-style: none;
}

.hero__categories ul li a {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 39px;
	display: block;
}

.hero__search {
	overflow: hidden;
	margin-bottom: 30px;
}

.hero__search__form {
	width: 610px;
	height: 50px;
	border: 1px solid #ebebeb;
	position: relative;
	float: left;
}

.hero__search__form form .hero__search__categories {
	width: 30%;
	float: left;
	font-size: 16px;
	color: #1c1c1c;
	font-weight: 700;
	padding-left: 18px;
	padding-top: 11px;
	position: relative;
}

.hero__search__form form .hero__search__categories:after {
	position: absolute;
	right: 0;
	top: 14px;
	height: 20px;
	width: 1px;
	background: #000000;
	opacity: 0.1;
	content: "";
}

.hero__search__form form .hero__search__categories span {
	position: absolute;
	right: 14px;
	top: 14px;
}

.hero__search__form form input {
	width: 70%;
	border: none;
	height: 48px;
	font-size: 16px;
	color: #b2b2b2;
	padding-left: 20px;
}

.hero__search__form form input::placeholder {
	color: #b2b2b2;
}

.hero__search__form form button {
	position: absolute;
	right: 0;
	top: -1px;
	height: 50px;
}

.hero__search__phone {
	float: right;
}

.hero__search__phone__icon {
	font-size: 18px;
	color: #7fad39;
	height: 50px;
	width: 50px;
	background: #f5f5f5;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
}

.hero__search__phone__text {
	overflow: hidden;
}

.hero__search__phone__text h5 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 5px;
}

.hero__search__phone__text span {
	font-size: 14px;
	color: #6f6f6f;
}

.hero__item {
	height: 431px;
	display: flex;
	align-items: center;
	padding-left: 75px;
}

.hero__text span {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 4px;
	color: #7fad39;
}

.hero__text h2 {
	font-size: 46px;
	color: #252525;
	line-height: 52px;
	font-weight: 700;
	margin: 10px 0;
}

.hero__text p {
	margin-bottom: 35px;
}

.categories__item {
	height: 270px;
	position: relative;
}

.categories__item h5 {
	position: absolute;
	left: 0;
	width: 100%;
	padding: 0 20px;
	bottom: 20px;
	text-align: center;
}

.categories__item h5 a {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 12px 0 10px;
	background: #ffffff;
	display: block;
}

.categories__slider .col-lg-3 {
	max-width: 100%;
}

.categories__slider.owl-carousel .owl-nav button {
	font-size: 18px;
	color: #1c1c1c;
	height: 70px;
	width: 30px;
	line-height: 70px;
	text-align: center;
	border: 1px solid #ebebeb;
	position: absolute;
	left: -35px;
	top: 50%;
	-webkit-transform: translateY(-35px);
	background: #ffffff;
}

.categories__slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -35px;
}

.featured {
	padding-top: 80px;
	padding-bottom: 40px;
}

.featured__controls {
	text-align: center;
	margin-bottom: 50px;
}

.featured__controls ul li {
	list-style: none;
	font-size: 18px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
}

.featured__controls ul li.active:after {
	opacity: 1;
}

.featured__controls ul li:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #7fad39;
	content: "";
	opacity: 0;
}

.featured__controls ul li:last-child {
	margin-right: 0;
}

.featured__item {
	margin-bottom: 50px;
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
	bottom: 20px;
}

.featured__item__pic {
	height: 270px;
	position: relative;
	overflow: hidden;
	background-position: center center;
}

.featured__item__pic__hover {
	position: absolute;
	left: 0;
	bottom: -50px;
	width: 100%;
	text-align: center;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li {
	list-style: none;
	display: inline-block;
	margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
	margin-right: 0;
}

.featured__item__pic__hover li:hover a {
	background: #7fad39;
	border-color: #7fad39;
}

.featured__item__pic__hover li:hover a i {
	color: #ffffff;
	transform: rotate(360deg);
}

.featured__item__pic__hover li a {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.featured__item__text {
	text-align: center;
	padding-top: 15px;
}

.featured__item__text h6 {
	margin-bottom: 10px;
}

.featured__item__text h6 a {
	color: #252525;
}

.featured__item__text h5 {
	color: #252525;
	font-weight: 700;
}

.latest-product {
	padding-top: 80px;
	padding-bottom: 0;
}

.latest-product__text h4 {
	font-weight: 700;
	color: #1c1c1c;
	margin-bottom: 45px;
}

.latest-product__slider.owl-carousel .owl-nav {
	position: absolute;
	right: 20px;
	top: -75px;
}

.latest-product__slider.owl-carousel .owl-nav button {
	height: 30px;
	width: 30px;
	background: #F3F6FA;
	border: 1px solid #e6e6e6;
	font-size: 14px;
	color: #636363;
	margin-right: 10px;
	line-height: 30px;
	text-align: center;
}

.latest-product__slider.owl-carousel .owl-nav button span {
	font-weight: 700;
}

.latest-product__slider.owl-carousel .owl-nav button:last-child {
	margin-right: 0;
}

.latest-product__item {
	margin-bottom: 20px;
	overflow: hidden;
	display: block;
}

.latest-product__item__pic {
	float: left;
	margin-right: 26px;
}

.latest-product__item__pic img {
	height: 110px;
	width: 110px;
}

.latest-product__item__text {
	overflow: hidden;
	padding-top: 10px;
}

.latest-product__item__text h6 {
	color: #252525;
	margin-bottom: 8px;
}

.latest-product__item__text span {
	font-size: 18px;
	display: block;
	color: #252525;
	font-weight: 700;
}
.sidebar__item {
	margin-bottom: 35px;
}

.sidebar__item.sidebar__item__color--option {
	overflow: hidden;
}

.sidebar__item h4 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 25px;
}

.sidebar__item ul li {
	list-style: none;
}

.sidebar__item ul li a {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 39px;
	display: block;
}

.sidebar__item .latest-product__text {
	position: relative;
}

.sidebar__item .latest-product__text h4 {
	margin-bottom: 45px;
}

.sidebar__item .latest-product__text .owl-carousel .owl-nav {
	right: 0;
}

.price-range-wrap .range-slider {
	margin-top: 20px;
}

.price-range-wrap .range-slider .price-input {
	position: relative;
}

.price-range-wrap .range-slider .price-input:after {
	position: absolute;
	left: 38px;
	top: 13px;
	height: 1px;
	width: 5px;
	background: #dd2222;
	content: "";
}

.price-range-wrap .range-slider .price-input input {
	font-size: 16px;
	color: #dd2222;
	font-weight: 700;
	max-width: 20%;
	border: none;
	display: inline-block;
}

.price-range-wrap .price-range {
	border-radius: 0;
}

.price-range-wrap .price-range.ui-widget-content {
	border: none;
	background: #ebebeb;
	height: 5px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
	height: 13px;
	width: 13px;
	border-radius: 50%;
	background: #ffffff;
	border: none;
	-webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	outline: none;
	cursor: pointer;
}

.price-range-wrap .price-range .ui-slider-range {
	background: #dd2222;
	border-radius: 0;
}

.price-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
	background: #dd2222;
}

.footer {
	background: #F3F6FA;
	padding-top: 70px;
	padding-bottom: 0;

}

.footer__about {
	margin-bottom: 30px;
}

.footer__about ul li {
	font-size: 16px;
	color: #1c1c1c;
	line-height: 36px;
	list-style: none;
}

.footer__about__logo {
	margin-bottom: 15px;
}

.footer__about__logo a {
	display: inline-block;
}

.footer__widget {
	margin-bottom: 30px;
	overflow: hidden;
}

.footer__widget h6 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer__widget ul {
	width: 50%;
	float: left;
}

.footer__widget ul li {
	list-style: none;
}

.footer__widget ul li a {
	color: #1c1c1c;
	font-size: 14px;
	line-height: 32px;
}

.footer__widget p {
	font-size: 14px;
	color: #1c1c1c;
	margin-bottom: 30px;
}

.footer__widget form {
	position: relative;
	margin-bottom: 30px;
}

.footer__widget form input {
	width: 100%;
	font-size: 16px;
	padding-left: 20px;
	color: #1c1c1c;
	height: 46px;
	border: 1px solid #ededed;
}

.footer__widget form input::placeholder {
	color: #1c1c1c;
}

.footer__widget form button {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 26px;
	height: 100%;
}

.footer__widget .footer__widget__social a {
	display: inline-block;
	height: 41px;
	width: 41px;
	font-size: 16px;
	color: #404040;
	border: 1px solid #ededed;
	border-radius: 50%;
	line-height: 38px;
	text-align: center;
	background: #ffffff;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
	margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
	background: #7fad39;
	color: #ffffff;
	border-color: #ffffff;
}

.footer__copyright {
	border-top: 1px solid #ebebeb;
	padding: 15px 0;
	overflow: hidden;
	margin-top: 20px;
}

.footer__copyright__text {
	font-size: 14px;
	color: #1c1c1c;
	float: left;
	line-height: 25px;
}

.footer__copyright__payment {
	float: right;
}

/*---------------------
  Contact
-----------------------*/

.contact {
	padding-top: 80px;
	padding-bottom: 50px;
}

.contact__widget {
	margin-bottom: 30px;
}

.contact__widget span {
	font-size: 36px;
	color: #7fad39;
}

.contact__widget h4 {
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 6px;
	margin-top: 18px;
}

.contact__widget p {
	color: #666666;
	margin-bottom: 0;
}

.no-underline {
  text-decoration: none;
}

.Menu__active {
  outline: none !important;
  box-shadow: none !important;
}

/*---------------------
  Payments
-----------------------*/

.order-icon {
  width: 30px;
  margin: 0;
  padding: 0;
  color: #7fad39;
  align-items: center;
}

.order-bar {
  background-color: #7fad39;
  color:#b2b2b2
}

.cursor-pointer {
  cursor: pointer;
}

.text-order {
  font-size: 10px;
}

.card-order-detail {
  height: 80px;
}


