<div id="meuContainer" class="container mt-2">
  <div class="row g-5 my-2">
    <div class="col-3">
      <div class="card m-2 shadow">
        <div class="ratio ratio-4x3"> <!--Imagem... -->
          <img ngSrc="/assets/img/service/cafeteria.png" width="100" height="200">
        </div>
        <div class="card-body">
          <h5 class="card-title">Cafeteria</h5>
          <h5 class="categoria">Categoria: Entrega</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus veritatis totam repudiandae nostrum nihil, itaque tempore incidunt officiis, eum doloribus hic similique ad quasi! Quisquam dignissimos veniam iure repellendus minus?</p>
          <button class="btn btn-add d-flex justify-content-center">Adicionar Serviço</button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card m-2 shadow">
        <div class="ratio ratio-4x3"> <!--Imagem... -->
          <img ngSrc="/assets/img/service/cesta-de-presente.png" width="100" height="200">
        </div>
        <div class="card-body">
          <h5 class="card-title">Cestas especiais</h5>
          <h5 class="categoria">Categoria: Entrega</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus veritatis totam repudiandae nostrum nihil, itaque tempore incidunt officiis, eum doloribus hic similique ad quasi! Quisquam dignissimos veniam iure repellendus minus?</p>
          <button class="btn btn-add d-flex justify-content-center">Adicionar Serviço</button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card m-2 shadow">
        <div class="ratio ratio-4x3"> <!--Imagem... -->
          <img ngSrc="/assets/img/service/dieta.png" width="100" height="200">
        </div>
        <div class="card-body">
          <h5 class="card-title">Marmiteria Fitness</h5>
          <h5 class="categoria">Categoria: Entrega</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus veritatis totam repudiandae nostrum nihil, itaque tempore incidunt officiis, eum doloribus hic similique ad quasi! Quisquam dignissimos veniam iure repellendus minus?</p>
          <button class="btn btn-add d-flex justify-content-center">Adicionar Serviço</button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card m-2 shadow">
        <div class="ratio ratio-4x3"> <!--Imagem... -->
          <img ngSrc="/assets/img/service/entrega.png" width="100" height="200">
        </div>
        <div class="card-body">
          <h5 class="card-title">Delivery Programado</h5>
          <h5 class="categoria">Categoria: Entrega</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus veritatis totam repudiandae nostrum nihil, itaque tempore incidunt officiis, eum doloribus hic similique ad quasi! Quisquam dignissimos veniam iure repellendus minus?</p>
          <button class="btn btn-add d-flex justify-content-center">Adicionar Serviço</button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card m-2 shadow">
        <div class="ratio ratio-4x3"> <!--Imagem... -->
          <img src="" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">Serviço 1</h5>
          <h5 class="categoria">Categoria: </h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus veritatis totam repudiandae nostrum nihil, itaque tempore incidunt officiis, eum doloribus hic similique ad quasi! Quisquam dignissimos veniam iure repellendus minus?</p>
          <button class="btn btn-add d-flex justify-content-center">Adicionar Serviço</button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card m-2 shadow">
        <div class="ratio ratio-4x3"> <!--Imagem... -->
          <img src="" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">Serviço 2</h5>
          <h5 class="categoria">Categoria: </h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus veritatis totam repudiandae nostrum nihil, itaque tempore incidunt officiis, eum doloribus hic similique ad quasi! Quisquam dignissimos veniam iure repellendus minus?</p>
          <button class="btn btn-add d-flex justify-content-center">Adicionar Serviço</button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card m-2 shadow">
        <div class="ratio ratio-4x3"> <!--Imagem... -->
          <img src="" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">Serviço 3</h5>
          <h5 class="categoria">Categoria: </h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus veritatis totam repudiandae nostrum nihil, itaque tempore incidunt officiis, eum doloribus hic similique ad quasi! Quisquam dignissimos veniam iure repellendus minus?</p>
          <button class="btn btn-add d-flex justify-content-center">Adicionar Serviço</button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card m-2 shadow">
        <div class="ratio ratio-4x3"> <!--Imagem... -->
          <img src="" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">Serviço 4</h5>
          <h5 class="categoria">Categoria: </h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus veritatis totam repudiandae nostrum nihil, itaque tempore incidunt officiis, eum doloribus hic similique ad quasi! Quisquam dignissimos veniam iure repellendus minus?</p>
          <button class="btn btn-add d-flex justify-content-center">Adicionar Serviço</button>
        </div>
      </div>
    </div>
  </div>
</div>
