button{
  background-color: #7fad39;
  border: 1px solid #7fad39;
  color: white;
}

button:hover{
  background-color: white;
  color: #7fad39;
  border: 1px solid #7fad39;
}

span{
  color: grey;
}
.categoria{
  color: black;
  font-weight: bold;
}
